<div class="conatiner">
  <img src="assets/img/task-list-null.png"
       alt="task-list-null"
       loading="eager"
  >

  <button class="btn btn-primary">
    Criar uma lista de tarefas
  </button>

  <div>
    <label class="iput-label-text" for="inputValue">
      <input
        type="text"
        placeholder="Adicionar um novo item"
        id="inputValue"
        autofocus
      >
      <button class="btn btn-primary" title="Adicionar um novo item"></button>

    </label>
  </div>

</div>
